* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }

header {
    padding-top: 60px;
    }
header div {
    width: 200px;
    margin: auto;
    background-image: linear-gradient(#521a1a 0%, #e8ff6883 50%, #0099ff79 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;

    transition: transform .5s;
    }
header div:hover {
    transform: scale(1.2);
    }
header img {
    width: 100%;
    border-radius: 50%;
    }


ul {
    list-style: none;
    }


body {
    background-image: linear-gradient(to bottom left, #060547 0%, #2d0a6d 100%);
    background-position: top center;
    background-size: 100% auto;    
    }
body *{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    }

    
main {
    max-width: 1380px;
    width: 80%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    }

section {
    color: rgba(255, 255, 255, 0.856);
    background-image: (to top right, rgba(64, 64, 228, 0.800) 0%, rgb(117, 55, 117, 0.800) 20%, rgb(182, 86, 86, 0.800) 60%, rgb(179, 179, 101, 0.800) 80%, rgb(129, 207, 129, 0.800) 100%);
    padding-top: 4px;
    border-radius: 50%;
    }
a {
    color: #ffffff;
    text-decoration-line: none;
}
section ul div h1{
    font-size: 11px;
    
    
    display: table-cell;
	text-align: center;
    vertical-align: middle;
    }
section h2 {
    font-size: 30px;
    letter-spacing: -0.50px;
    }
section p {
    font-size: 18px;
    color: #121214;
    }
section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
    }
section ul li {
    transition: transform .5s;
    }
section ul li:hover {
    transform:scale(1.2)
    }


.divsection {
    background-image: linear-gradient(to bottom, #b64f4f8e 0%, #7315ff46 100%);
    padding: 32px;
    padding-top: 24px;
    border-radius: 25px;
    }


.movies-card {
    width: 150px;
    height: 220px;
    background-image: linear-gradient(#000000 0%, #f1c9ee71 50%, #000e5f79 100%);
    padding: 25px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    }
.series-card {
    width: 150px;
    height: 220px;
    background-image: linear-gradient(#000000 0%, #f1c9ee71 50%, #000e5f79 100%);
    padding: 25px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    }
.famous-card {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(#000000 0%, #f1c9ee71 50%, #000e5f79 100%);
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    }



.movies-list img {
    width: 90px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    margin: auto;
    }
.series-list img {
    width: 90px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    margin: auto;
    }
.famous-list img {
    width: 90px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin: auto;
    }
.social-list img {
    width: 40px;
    border-radius: 50%;
    margin: auto;
    }

header div{
    animation: fromTop .15s 1s backwards;
    }
    
@keyframes fromTop {
    from{
    opacity: 0;    
    transform: translateY(-30px);
    }
    
    to{
    opacity: 1;    
    transform: translateY(0);
    }
}
    
main section{
    animation: fromBottom .7s backwards;
   }
main section:nth-child(1){
    animation-delay: 0s;
   }
main section:nth-child(2){
    animation-delay: 1s;
   }
main section:nth-child(3){
    animation-delay: 2s;
   } 
main section:nth-child(4){
    animation-delay: 3s;
   }
    
    
@keyframes fromBottom {
    from{
        opacity: 0;    
        transform: translateY(30px);
        }
      
    to{
        opacity: 1;    
        transform: translateY(0);
        }
    }